.grid {
  position: relative;
}

.item {
  display: block;
  position: absolute;
  height: 250px;
  width: 300px;
  margin: 10px;
  text-align: center;
  z-index: 1;
}

.item.muuri-item-dragging {
  z-index: 3;
}

.item.muuri-item-releasing {
  z-index: 2;
}

.item.muuri-item-hidden {
  z-index: 0;
}

.item-content {
  position: relative;
  width: 100%;
  height: 100%;
}


/* Variable for main pink color */

:root {
  --pink: #e700e7;
  --font-big: 50px;
}

/* Main body properties to delete general margin and padding */

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav {
  background-color: #9333ea;
  height: 80px;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Removed text decoration styles for normal and visited links */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* Navbar container flex properties and styles for links */

.navbar-container {
  height: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navbar-container a {
  text-decoration: underline white 4px;
  color: white;
}

.navbar-container a:hover {
  opacity: 0.9;
  color: rgb(255, 0, 230);
}

/* Profile image container and position properties */

.profile-image {
  width: 50px;
  height: 50px;
  padding: 0px;
  float: left;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

/* Cover image height and width defined as well as object-fit property to properly only part of the image */



.cover-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  min-width: 100%;
  background: #8E2DE2;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.cover-image-projects {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  min-width: 100%;
}

.cover-text-projects {
  color: black;
  font-size: 35px;
  text-align: center;
}


/* About Me container flex properties and specific elements styling */

.about-me-container {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.about-me-container h2 {
  flex: 0 1 20%;
  text-align: right;
  color: var(--pink);
  font-size: var(--font-big);
}

.about-me-content {
  padding: 0;
  display: flex;
  flex-flow: column;
  flex: 0 2 50%;
  justify-content: flex-start;
  list-style: none;
  text-align: justify;
  font-size: 18px;
}

/* Work container flex properties and specific elements styling */

.work-container {
  margin: 40px 0px;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.work-container h2 {
  flex: 0 1 20%;
  text-align: right;
  color: var(--pink);
  font-size: var(--font-big);
}

.work-items {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 50%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.main-app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  min-width: 80%;
  border-radius: 20px;
}

.main-app-title {
  text-align: center;
  color: white;
  font-size: x-large;
}


.secondary-app {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  min-width: 60%;
  border-radius: 20px;
}

.main-app:hover {
  opacity: 0.8;
}


.secondary-app:hover {
  opacity: 0.8;
}

.app-title {
  text-align: center;
  color: white;
  font-size: x-large;
}


/* Contact me section flex properties and specific styles */

.contact-me-container {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.contact-me-container h2 {
  flex: 0 1 20%;
  text-align: right;
  color: var(--pink);
  font-size: var(--font-big);
}

.contact-me-container ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  flex: 0 2 50%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.contact-me-container li {
  text-decoration: underline cyan 6px;
}

/* Style for vertical line at the side of section titles */

.vl {
  border-left: 7px solid var(--pink);
  height: 300px;
}

#app-main-bg {
  background: #f953c6;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #b91d73, #f953c6);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #b91d73, #f953c6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
}

#app-one-bg {
  background: #11998e;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#app-two-bg {
  background: #396afc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2948ff, #396afc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#app-three-bg {
  background: #F7971E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFD200, #F7971E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#app-four-bg {
  background: #D31027;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #EA384D, #D31027);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #EA384D, #D31027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

/* Media queries for medium devices (tablets) */

@media only screen and (max-width: 840px) {
  :root {
    --font-big: 30px;
  }

  .vl {
    border-left: 5px solid var(--pink);
    height: 200px;
  }

  .navbar-container a {
    text-decoration: underline white 4px;
  }


  .contact-me-container ul {
    text-align: center;
    font-size: 10px;
  }

  .contact-me-container li {
    text-decoration: underline cyan 5px;
  }

  .contact-data-image {
    width: 60px;
    height: 60px;
    float: left;
  }
  .main-app-title {
    font-size: 12px;
  }

  .app-title {
    font-size: 12px;
  }
}

/* Media queries for small devices (cellphones) */

@media only screen and (max-width: 425px) {
  :root {
    --font-big: 15px;
  }

  nav {
    height: fit-content;
    min-width: 100%;
  }

  .vl {
    border-left: 2px solid var(--pink);
    height: 150px;
  }

  .cover-image {
    height: 100px;
  }

  .main-app  {
    min-width: 100%;
    height: 100px;
  }

  .secondary-app {
    min-width: 100%;
    height: 100px;
  }


  .navbar-container {
    flex-flow: column  nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    min-height: 200px;
  }

  .navbar-container a {
    text-decoration: none;
    color: white;
    font-size: 10px;
  }

  .name-title h1 {
    margin: 0;
    color: white;
    font-size: 20px;
  }

  .about-me-content p {
    font-size: 10px;
    text-align: center;
  }

  .main-app {
    max-width: 100%;
  }

  .work-items img {
    border: solid 2px var(--pink);
  }

  .main-app-title {
    font-size: 10px;
  }

  .app-title {
    font-size: 10px;
  }

  .contact-me-container ul {
    font-size: 8px;
  }

  .contact-me-container li {
    text-decoration: underline cyan 3px;
    text-align: center;
  }

  .cover-text-projects {
    font-size: 25px;
  }
}
