/* Variable for main pink color */

:root {
  --pink: #e700e7;
  --font-big: 50px;
}

/* Main body properties to delete general margin and padding */

body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav {
  background: #aa076b; /* fallback for old browsers */
  background: linear-gradient(
    to right,
    #61045f,
    #aa076b
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  height: 80px;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* Removed text decoration styles for normal and visited links */

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

/* Navbar container flex properties and styles for links */

.navbar-container {
  height: inherit;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.navbar-container a {
  text-decoration: underline white 4px;
  color: white;
}

.navbar-container a:hover {
  opacity: 0.9;
  color: cyan;
}

/* Profile image container and position properties */

.profile-image {
  width: 50px;
  height: 50px;
  padding: 0px;
  float: left;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.name-title h1 {
  margin: 0;
  color: white;
}

/* Cover image height and width defined as well as object-fit property to properly only part of the image */

.cover-image {
  position: relative;
}

.cover-image img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.cover-text {
  position: absolute;
  display: inline;
  color: white;
  top: 70%;
  left: 76%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  -webkit-text-stroke: 0.2px black;
}

/* About Me container flex properties and specific elements styling */

.about-me-container {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.about-me-container h2 {
  flex: 0 1 20%;
  text-align: right;
  color: var(--pink);
  font-size: var(--font-big);
}

.about-me-content {
  padding: 0;
  display: flex;
  flex-flow: column;
  flex: 0 2 50%;
  justify-content: flex-start;
  list-style: none;
  text-align: justify;
}

/* Work container flex properties and specific elements styling */

.work-container {
  margin: 40px 0px;
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
}

.work-container h2 {
  flex: 0 1 20%;
  text-align: right;
  color: var(--pink);
  font-size: var(--font-big);
}

.work-items {
  display: flex;
  flex-flow: row wrap;
  flex: 0 1 50%;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.main-app {
  position: relative;
  min-width: 100%;
}

.main-app-title {
  position: absolute;
  border: solid 4px white;
  padding: 20px;
  color: white;
  top: 70%;
  left: 7%;
  transform: translate(-50%, -50%);
}

.work-items img {
  position: relative;
  object-fit: cover;
  height: 250px;
  min-width: 100%;
  border: solid 5px var(--pink);
}

.secondary-app {
  position: relative;
}

.app-title {
  position: absolute;
  border: solid 4px white;
  padding: 10px;
  color: white;
  top: 70%;
  left: 10%;
  transform: translate(-50%, -50%);
}

.work-items img:hover {
  opacity: 0.5;
}

/* Contact me section flex properties and specific styles */

.contact-me-container {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.contact-me-container h2 {
  flex: 0 1 20%;
  text-align: right;
  color: var(--pink);
  font-size: var(--font-big);
}

.contact-me-container ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  flex: 0 2 50%;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.contact-me-container li {
  text-decoration: underline cyan 6px;
}

/* Style for vertical line at the side of section titles */

.vl {
  border-left: 7px solid var(--pink);
  height: 300px;
}

/* Media queries for medium devices (tablets) */

@media only screen and (max-width: 840px) {
  :root {
    --font-big: 30px;
  }

  .vl {
    border-left: 5px solid var(--pink);
    height: 200px;
  }

  .navbar-container a {
    text-decoration: underline white 4px;
  }

  .cover-image img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .work-items img {
    height: 100px;
  }

  .contact-me-container ul {
    text-align: center;
    font-size: 10px;
  }

  .contact-me-container li {
    text-decoration: underline cyan 5px;
  }

  .contact-data-image {
    width: 60px;
    height: 60px;
    float: left;
  }
  .main-app-title {
    border: solid 2px white;
    padding: 5px;
    top: 50%;
    left: 9%;
    font-size: 12px;
  }

  .app-title {
    border: solid 2px white;
    padding: 5px;
    top: 50%;
    left: 15%;
    font-size: 12px;
  }
}

/* Media queries for small devices (cellphones) */

@media only screen and (max-width: 420px) {
  :root {
    --font-big: 15px;
  }

  .vl {
    border-left: 2px solid var(--pink);
    height: 150px;
  }

  .work-items img {
    height: 50px;
  }

  .navbar-container {
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    list-style: none;
  }

  .navbar-container a {
    text-decoration: none;
    color: white;
    font-size: 10px;
  }

  .name-title h1 {
    margin: 0;
    color: white;
    font-size: 20px;
  }

  .about-me-content p {
    font-size: 10px;
    text-align: center;
  }

  .main-app {
    max-width: 100%;
  }

  .work-items img {
    border: solid 2px var(--pink);
  }

  .main-app-title {
    border: solid 2px white;
    padding: 5px;
    top: 50%;
    left: 15%;
    font-size: 10px;
  }

  .app-title {
    border: solid 2px white;
    padding: 5px;
    top: 50%;
    left: 25%;
    font-size: 10px;
  }

  .contact-me-container ul {
    font-size: 8px;
  }

  .contact-me-container li {
    text-decoration: underline cyan 3px;
    text-align: center;
  }

  .cover-image img {
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  .cover-text {
    top: 50%;
    left: 50%;
    font-size: 20px;
    text-align: center;
  }
}
